.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

/* .dashboard-left {
} */


.dashboard-right {
  display: flex;
  justify-content: space-around;
}

.dashboard-right > div {
  padding: 2em;
}


.title-container{
  flex: 1 0 100%;
}

.title{
  text-align: center;
}


/* responsive styling for smaller devices (width < 768px)*/


@media (max-width: 768px) {
  .dashboard {
    width: 100%;
    justify-content: flex-start;
    max-width: auto;
    min-width: auto;
  }

  .title{
    text-align: left;
    word-wrap: break-word;

  }

}