.edit-profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    flex: 0 0 40%;
    height: 100rem;
}

.title{
    font-size: var(--font-size-header-large);
}

.form{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.form__label{
    flex: 1 0 100%;
    font-size: var(--font-size-medium);
    font-weight: 500;
}

.form__input-text{
    flex: 1 1 100%;
    font-size: var(--font-size-small);
    padding: 1rem;
    border: 0;;
    background-color: var(--color-bg-input);
 
}

.form__input-text:focus{
    outline: .2rem solid var(--color-outline-input);
    
}



.form__input-textarea{

    font-size: var(--font-size-small);
    flex: 1 0 auto;
    padding: 1rem;
}

.form__input-textarea:focus{
    outline: .2rem solid var(--color-outline-input);
}


.form__select{
    width: 100%;
    padding:1rem;
    background-color: #fff;
    box-shadow: none;
    border: .1rem solid black;
    font-size: var(--font-size-small);
}

.form__button{
    
        flex:1 0 100%;
        cursor: pointer;
        background-color: var(--color-bg-button);
        border: 0;
        line-height: var(--button-line-height);
        text-decoration: none;
        color: white;
        font-size: var(--font-size-small);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        
      
}


/* responsive styling for smaller devices (width < 768px)*/


@media (max-width: 768px) {
    .title{
        font-size: var(--font-size-header);
    }
}