.email {
  flex: 0 1 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.email__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--color-primary);
  width: 100%;
  padding: 2rem;
  background: var(--color-bg-landing);
}

.email__title {
  font-size: var(--font-size-large);
}

.email__form__label {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
}

.email__form__input {
  width: 80%;
  height: 3rem;
  background: var(--color-bg-input);
  border: none;
  font-size: var(--font-size-extra-small);
}

.email__form__input{
  outline: .2rem solid var(--color-outline-input);
}

.email__form__textarea {
  width: 80%;
  background: var(--color-bg-input);
  border: none;
  font-size: var(--font-size-extra-small);
}

.email__form__textarea:focus{
  outline: .2rem solid var(--color-outline-input);
}

.email__form__button {
  cursor: pointer;
  background-color: var(--color-bg-button);
  border: 0;
  padding: 1.6rem 4.2rem;
  line-height: var(--button-line-height);
  text-decoration: none;
  color: white;
  font-size: var(--font-size-small);
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.email__error {
  display: flex;
  align-items: center;
  font-size: var(--font-size-extra-small);
  background-color: var(--color-bg-pink);
  padding: 1rem;
  line-height: var(--text-line-height);
}
