.wrapper{
    display: flex;
    justify-content: flex-start;
    padding: 4rem;
}

.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2rem;
}


.username{
    font-size: var(--font-size-header-large)
}

.label{
    flex: 0 0 100%;
    font-size: var(--font-size-medium);
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills__name{
    font-size: var(--font-size-small);
    background: var(--color-bg-input);
    color: var(--color-secondary);
    padding: 1rem;
}

.goal{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-small);
    gap: 1rem;

}

.goal__text{
    flex: 0 1 100%;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.languages__name{
    font-size: var(--font-size-small);

}

.edit-profile{
    display: flex;
}

.edit_profile__button{
    display: flex;
}
