.register{
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}


.register__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	color: var(--color-primary);
	width: 50%;
}

.register__title {
	font-size: var(--font-size-large);
}

.register__form__label{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: var(--font-size-medium);
	text-align: center;
}



.register__form__input{
width: 40%;
height: 5rem;
background: var(--color-bg-input);
border: none;
font-size: 1.8rem;

}

.register__form__button {
  cursor: pointer;
  background-color: var(--color-bg-button);
  border: 0;
  padding: 1.6rem 4.2rem;
  line-height: var(--button-line-height);
  text-decoration: none;
  color: white;
  font-size: var(--font-size-small);
  width:  40%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.register__error{
	display: flex;
	align-items: center;
	font-size: var(--font-size-small);
	background-color: var(--color-bg-error);
	height: 4rem;
	padding: 1rem;
	line-height: var(--text-line-height);

}

.register__login-link {
	text-decoration: none;
	font-size: var(--font-size-small);
	line-height: var(--text-line-height);
	color: var(--color-secondary);
}
